In [1]:
from function import draw_plots
import pandas as pd

In [2]:
json_path = "deviation.json"

In [3]:
draw_plots(json_path)

Mean Floor Error:
 name
#229 - Dining Room            55.098309
#229 - Entry                   0.665851
10 Exam                        0.542956
113/125 Hallway               19.480052
1206B                          0.354157
                                ...
theater kitchen                8.131909
toilet                         0.623534
upper loft. 2                 22.584741
upper middle back bedroom.    34.011940
vanity area                    0.528914
Name: floor_mean, Length: 588, dtype: float64

Mean Ceiling Error:
 name
#229 - Dining Room            55.204687
#229 - Entry                   0.775870
10 Exam                        0.769898
113/125 Hallway               64.511282
1206B                          0.568619
                                ...
theater kitchen                7.698527
toilet                         3.632427
upper loft. 2                 22.989000
upper middle back bedroom.    39.543027
vanity area                    0.471951
Name: ceiling_mean, Length: 588, dtype: float64

Max Floor Error:
 name
#229 - Dining Room            120.511451
#229 - Entry                    1.129480
10 Exam                         1.052940
113/125 Hallway                21.339456
1206B                           0.679236
                                 ...
theater kitchen                14.280694
toilet                          0.801288
upper loft. 2                  32.884332
upper middle back bedroom.     57.589390
vanity area                     0.795280
Name: floor_max, Length: 588, dtype: float64

Max Ceiling Error:
 name
#229 - Dining Room            120.530648
#229 - Entry                    1.238227
10 Exam                         1.032141
113/125 Hallway                67.992930
1206B                           0.679906
                                 ...
theater kitchen                14.627006
toilet                          4.080019
upper loft. 2                  33.337309
upper middle back bedroom.     55.445738
vanity area                     0.690597
Name: ceiling_max, Length: 588, dtype: float64

Min Floor Error:
 name
#229 - Dining Room             0.477452
#229 - Entry                   0.398259
10 Exam                        0.105813
113/125 Hallway               17.311508
1206B                          0.076994
                                ...
theater kitchen                1.291585
toilet                         0.439443
upper loft. 2                 11.070729
upper middle back bedroom.     0.307632
vanity area                    0.287325
Name: floor_min, Length: 588, dtype: float64

Min Ceiling Error:
 name
#229 - Dining Room             0.649668
#229 - Entry                   0.337815
10 Exam                        0.260482
113/125 Hallway               59.089074
1206B                          0.465766
                                ...
theater kitchen                1.247015
toilet                         3.388477
upper loft. 2                 11.700250
upper middle back bedroom.    11.976225
vanity area                    0.254151
Name: ceiling_min, Length: 588, dtype: float64

GT vs RB:
                             gt_corners  rb_corners
name
#229 - Dining Room                 6.0         6.0
#229 - Entry                       4.0         4.0
10 Exam                            4.0         4.0
113/125 Hallway                    4.0         4.0
1206B                              4.0         4.0
...                                ...         ...
theater kitchen                    4.0         4.0
toilet                             4.0         4.0
upper loft. 2                      4.0         4.0
upper middle back bedroom.         6.0         6.0
vanity area                        4.0         4.0

[588 rows x 2 columns]
Rooms with anomalies:
                    name  floor_mean  ceiling_mean  mean_difference
1                 Küche    1.253103     44.785141        43.532038
8                  Flur    0.363172     30.528344        30.165172
9       Eingangsbereich    0.759095     38.000463        37.241368
10           Badezimmer    1.757509     26.336534        24.579025
15              Küche 2   18.154083     49.625230        31.471147
...                 ...         ...           ...              ...
1275  Elavator hall  22   16.997120     34.827849        17.830728
1281          Hallway 4    2.284056     33.311993        31.027936
1286   113/125 Hallway    19.480052     64.511282        45.031229
1287           Room 125   12.460733     39.168628        26.707894
1327   Master Bedroom 2   15.745482    102.226545        86.481063

[115 rows x 4 columns]

['plots\\comparison_mean.png',
 'plots\\comparison_max.png',
 'plots\\comparison_min.png',
 'plots\\average_mean_error_per_room.png',
 'plots\\max_min_errors_per_room.png',
 'plots\\comparison_anomaly.png']

In [4]:
df = pd.read_json(json_path)
len(df)

1347

In [5]:
df.head()

,name,gt_corners,rb_corners,mean,max,min,floor_mean,floor_max,floor_min,ceiling_mean,ceiling_max,ceiling_min
0,Schlafzimmer,4,4,3.956313,8.562939,0.274574,3.987864,8.562939,0.274574,3.924762,8.501885,0.331494
1,Küche,4,4,23.019122,52.605437,0.724299,1.253103,1.897612,0.724299,44.785141,52.605437,36.880814
2,Bathroom,4,4,1.013833,1.950322,0.301673,0.659138,1.318714,0.301673,1.368528,1.950322,0.878106
3,Lounge/Diner,8,8,3.832620,18.236935,0.173307,3.600083,15.041431,0.173307,4.065157,18.236935,0.253457
4,Essbereich,4,4,8.017758,15.642853,0.762948,7.819446,15.399635,0.762948,8.216069,15.642853,0.909029

In [6]:
df.tail()

,name,gt_corners,rb_corners,mean,max,min,floor_mean,floor_max,floor_min,ceiling_mean,ceiling_max,ceiling_min
1342,Master Bedroom,4,4,1.739907,4.703960,0.166677,0.487452,1.074033,0.166677,2.992362,4.703960,1.216172
1343,Master Bedroom 2,4,4,0.530908,0.786997,0.101973,0.323746,0.614770,0.101973,0.738071,0.786997,0.670290
1344,Zimmer I,4,4,0.880569,1.221873,0.362600,0.823587,1.120810,0.362600,0.937550,1.221873,0.490739
1345,Hallway Bathroom,6,6,24.923452,64.266820,0.064699,24.857904,64.123596,0.064699,24.988999,64.266820,0.074356
1346,Bedroom 4,4,4,0.387328,0.762659,0.166426,0.349720,0.730373,0.205136,0.424936,0.762659,0.166426